body{
	font-family: 'Caveat', cursive;
	font-size: 18px;
	line-height:22px;
	background-color: #558855;
	min-width: 400px;
}
main{
	background-color: #aaffaa;
	margin:10px;
	padding:10px;
	border-radius: 10px;
}

#header{
	/*display: flex;*/
	text-align: center;
}
.resumo_texto{
	text-align:justify;
}
.resumo{
	width: 60%;
	justify-content: space-around;
	/*margin-right: 50px;*/
	margin: 0 auto;
	text-align: center;
}

section{
	padding: 20px;
	width: 60%;
	margin: 0 auto;
}
.experiencia{
	background-color: #ddffdd;
}
.titulo{
	font-weight: bold;
	padding: 20px;
	width: 100%;
}
strong{
	font-weight: bold;
}
.meu_nome{
	font-size: 48px;
}
h2{
	padding: 10px;
	font-size: 40px;
}
h1{
	font-size: 44px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 24px;
}
h3, h4, p{
	padding: 5px;
}
footer{
	text-align: center;
	color: #aaffaa;
}
ul{
	list-style-type: disc;
}
button{
	background-color: #ddffdd;
	padding: 5px 10px;
	
}
@media(max-width: 700px){
	section{
		width: 90%;
	}
	.resumo{
		width: 90%;
	}
	.titulo{
		width: 90%;
	}
}
@media(max-width: 1500px){
	section{
		width: 40%;
	}
	.resumo{
		width: 40%;
	}
	.titulo{
		width: 40%;
	}
}