/*
	cor fundo body #335533
	cor fundo main #AAFFAA
	cor destaque exp #DDFFDD

	fontes
	font-family: 'Architects Daughter', cursive; //mais handwriting
	font-family: 'Solway', serif;
*/

body{
	background-color: #335533;
	margin: 10px;
	min-width: 500px;
}
main{
	background-color: #AAFFAA;
	padding: 10px;
	border-radius: 10px;
	color: #335533;
}
header{
	text-align: center;
}
.titulo > h2{
	font-family: 'Architects Daughter', cursive;
	font-size: 3em;
}
.titulo > h1{
	font-size: 1.5em;
}
.resumo{
	font-family: 'Solway', serif;
	padding: 10px;
	text-align: justify;
	font-size: 1.2em;
}
.educacao{
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #DDFFDD;
	border-radius: 10px;
	border: #335533 solid 2px;
}
.educacao > ul{
	margin-top: 10px;
}
h2 {
	font-family: 'Architects Daughter', cursive;
	font-size: 2em;
	margin: 10px 10px 10px 10px;
}
.lista_itens{
	list-style-type: none;
	font-family: 'Solway', serif;
	font-size: 1.25em;
	padding-top: 5px;
}
.experiencia {
	font-family: 'Solway', serif;
	font-size: 1.3em;
	padding: 10px;
}
.experiencia > h3{
	font-family: 'Solway', serif;
	font-size: 1.25em;
	padding-top: 10px;
}
strong{
	font-weight: bolder;
}
.extras{
	font-family: 'Solway', serif;
	font-size: 1.25em;
	padding: 10px;
}
footer{
	margin: 10px 0px 10px 0px;
	background-color: #AAFFAA;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
a{
	color: #335533;
}
a:visited{
	color: #335533;
}
a:hover{
	color: #AAFFAA;
	background-color: #335533;
	padding: 10px;
}